<h1>Blog Posts</h1>
<div class="blogs">
<% @blogs.each do |b|%>
<a href="/blogs/<%= b.id %>"><%= b.title %></a><br>
<%= b.content %><br>
<% id = b.user_id %>
by: <%= User.find(id).username %>
<hr>
<% end %>
</div>
