h1, h2, h3, h4, h5{
  font-family: Oswald;
  text-transform: uppercase;
  color: #84867C;
}

body{
  font-family: Copse;
  font-size: 13px;
  background-color: #36332F;
}

.yield{
  background-color: #FDFDFD;
  border-radius: 12px;
  border: 1px solid #A09E95;
  width: 1070px;
  padding: 12px;
}
