.nav{
  font-family: Amatic SC;
  font-size: 40px;

}
a:link{
  color: red;
  text-decoration: none;
  font-family: Amatic SC;
  font-size: 25px;
}

a:visited{
  color: red;
  text-decoration: none;
  font-family: Amatic SC;
  font-size: 25px;
}

h1, h2, h3, h4, h5{
  font-family: Amatic SC;
}

body{
  font-family: Copse;
  font-size: 12px;
}

.link{
  font-size: 20px;
}
